@import '../../sources/style/variables';
@import '../../sources/style/breakpoints';

.content {
  width: $screen-width;
  min-height:  calc(100vh - 14rem);
  padding: 30px;

  .form {
    width: 100%;
  }
  
  .toggleButtonGroup {
    margin-top: 30px;
  }
  
  .grid{
    margin-top: 30px;

    img {
      height: 150px;
      width: 100%;
      object-fit: cover; 
    }
  }

  .list {
    flex-direction: row;
    margin-top: 30px;
    height: 80px;
    img {
      width: 80px;
      object-fit: cover; 
    }
  }

  .title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
