@import '../../sources/style/variables';
@import '../../sources/style/breakpoints';

.header {
  background-image: linear-gradient(to bottom, $blue 0, $dark-blue 100%);
  background-repeat: repeat-x;
  background-color: $blue;
  height: 4rem;
}
